{% extends "base.html" %}
{% block content %}
    {% if not user.is_authenticated %}
        <script type="text/javascript">
            alert("로그인 후 이용 가능합니다.");
            window.location.href="{% url 'account:login' %}";
        </script>
    {% endif %}
    <div class="my-list-div"><br><br><br><br><br><br>

{#        프로필#}
        <div class="container text-center my-profile-div">
            <div class="user-color mx-4 mt-4 rounded-5 d-inline-flex float-start" style="background-color: {{user.usercolor}}"></div>
            <div class="float-start mt-4 display-6 text-white fw-bold">DREAMER : </div>
            <div class="float-start mt-4 display-5 text-white fw-bolder mx-3">{{ user.nickname }}</div>
        </div>

        <br><br>

{#        내가 쓴 게시물#}
         <div class="container my-list-container">
             <!-- align-items-center -->
             {% for dream in dreams%}
                <a class="my-list-item text-decoration-none text-black bg-white" href={% url 'dream:detail' id=dream.id %} >
                    <div class="dream-color" style="background-color: {{dream.color}};"></div>
                    <h4 class='fw-bold mx-4 dream-title'>{{ dream.title}}</h4>
                    <div class="mx-4 mt-0">{{ dream.date_dream }}</div>
                </a>
             {% endfor %}
        </div>
    </div>

{#    추천 게시물#}
    <div class="w-100" style="background-color: #060D26">
        <div class="container w-100" >
            <p class="text-white display-6 fw-bold">추천 목록</p>
            <hr>
            <div class="for_slick_slider responsive">
                {% for dream in random %}
                    <div class="items">
                        <a class="text-decoration-none text-black mx-2 d-inline-block" href={% url 'dream:detail' id=dream.id %} >
                            <div class="post-div bg-white">
                                <div class="user-color mx-4 mt-4 rounded-5 d-inline-flex float-start" style="background-color: {{ dream.color }}"></div>
                                <div class="user-name d-inline-flex fw-bold mt-4 float-start">{{ dream.author }}</div>
                                <div class="post-date position-absolute mt-5 float-start">{{ dream.date_dream }}</div>
                                <div class="post-title position-absolute fw-bold">{{ dream.title }}</div>
                                <div class="post-content overflow-hidden">{{ dream.contents}}</div>
                            </div>
                       </a>
                    </div>
                {% endfor %}
            </div>
        </div><br><br><br><br><br>
    </div>

{% endblock %}