{% extends "base.html" %}
{% block content %}
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark bg-opacity-75">
            <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
                <ul class="navbar-nav">
                </ul>
            </div>
            <div class="navbar-nav mt-mb-0" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="{% url 'account:login' %}" class="nav-link">로그아웃</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="my-list-div"><br><br><br><br><br><br>

{#        프로필#}
        <div class="container text-center my-profile-div">
            <div class="user-color mx-4 mt-4 rounded-5 d-inline-flex float-start" style="background-color: #ffffff"></div>
            <div class="float-start mt-4 display-6 text-white fw-bold">DREAMER : </div>
            <div class="float-start mt-4 display-5 text-white fw-bolder mx-1">{{ user.nickname }}</div>
        </div>

        <br><br>

{#        내가 쓴 게시물#}
         <div class="container my-list-container">
             <!-- align-items-center -->
             {% for dream in dreams%}
                <a href={% url 'dream:detail' id=dream.id %} class="my-list-item">
                    <div class="dream-color" style="background-color: {{dream.color}};"></div>
                    <h4 class='fw-bold mx-4 dream-title'>{{ dream.title}}</h4>

                    <div class="mx-4 mt-0">{{ dream.date_dream }}</div>
                </a>
             {% endfor %}
        </div>
    </div>

{% endblock %}