<header>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark bg-opacity-75">
            <a href="{% url 'dream:main' %}" style="margin-left: 20px; text-decoration: none" class="text-white">DreamColor</a>
            <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">

            </div>
            <div class="navbar-nav mt-mb-0" id="collapsibleNavbar">
                <ul class="navbar-nav" style="margin-right: 20px">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'account:logout' %}" class="nav-link">로그아웃</a></li>
                    <li class="nav-item"><a href="{% url 'account:mypage' userid=user.username %}" class="nav-link">마이페이지</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'account:login' %}" class="nav-link">로그인</a></li>
                    <li class="nav-item"><a href="{% url 'account:signup' %}" class="nav-link">회원가입</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>