{% extends 'base.html' %}
{% block content %}
    <a href={% url 'dream:main' %}><div class="back-img float-start mt-4 mx-4"></div></a>
    <br><br><br><br>
    <div class="container text-center">
        <input class="d-inline-block border border-1 border-dark rounded-4 text-center" placeholder="검색어를 입력하세요!" style="width:60%;height: 40px;cursor: pointer;"></input>
        <br><br><br>

        <h3 class="fw-bold">최근 검색어</h3>
        <div class="recent-div"></div>
        <h3 class="fw-bold">인기 색상</h3>
        <div class="best-div"></div>

    </div>
{% endblock %}