{% extends 'base.html' %}
{% load dream_filter %}
{% block content %}
<div class="view_container">
    <div class="header" style="background-color: '{{ dream.color }}'">
        <h1 class="title">{{ dream.title }}</h1>
        <p class="date">{{ dream.date_dream }}</p>

        {% if isUser %}
            <div class="buttons">
                <a href="{% url 'dream:modify' id=dream.id %}" class="edit">수정하기</a>
                <a href="{% url 'dream:delete' id=dream.id %}" class="delete">삭제하기</a>
            </div>
        {% endif %}
    </div>

    <div class="content">
        {{ dream.contents|mark }}
    </div>

    <div class="footer">
        <div class="left">
            <div class="color-profile" style="background-color: '{{ dream.color }}'" ></div>
            <span class="username">{{ dream.author.nickname }} ({{ dream.color }})</span>
        </div>

        <div class="right">
            <p class="read">읽음개수 : {{ dream.read_cnt }}개</p>
        </div>
    </div>

    <img src="/static/img/question_.png" class="btn-open-popup"/>
    <div class="modal">
      <div class="modal_body">
          {{ dream.title }}의 해몽<br>
        <ul style="list-style: none; text-align: left">
            {% for title, link in results %}
                <li style="margin-top: 5px">
                    <a href="{{ link }}" class="result-item" >{{ title }}</a>
                </li>
            {% endfor %}
        </ul>
      </div>

    </div>
    <script>
      const modal = document.querySelector('.modal');
      const btnOpenPopup = document.querySelector('.btn-open-popup');

      document.querySelector('.modal').addEventListener('click',()=>{
            modal.style.display = 'none';
            document.querySelector('body').style.overflow = 'auto';
      })
      btnOpenPopup.addEventListener('click', () => {
        modal.style.display = 'block';
        window.scrollTo(0, 0);
        document.querySelector('body').style.overflow = 'hidden';
      });
    </script>

</div>
{% endblock %}