{% extends 'base.html' %}
{% load dream_filter %}
{% block content %}
<div class="view_container">
    <div class="header" style="background-color: '{{ dream.color }}'">
        <h1 class="title">{{ dream.title }}</h1>
        <p class="date">{{ dream.date_dream }}</p>

{#        {% if isUser %}#}
            <div class="buttons">
                <a href="" class="edit">수정하기</a>
                <a href="" class="delete">삭제하기</a>
            </div>
{#        {% endif %}#}
    </div>

    <div class="content">
        {{ dream.contents|mark }}
    </div>

    <div class="footer">
        <div class="left">
            <div class="color-profile" style="background-color: '{{ dream.color }}'" ></div>
            <span class="username">{{ dream.author.nickname }} ({{ dream.color }})</span>
        </div>

        <div class="right">
            <p class="read">읽음개수 : {{ dream.read_cnt }}개</p>
        </div>
    </div>

    {% if isUser %}
        <div class="buttons">
            <a href="" class="edit">수정하기</a>
            <a href="" class="delete">삭제하기</a>
        </div>
    {% endif %}


</div>
{% endblock %}